@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Line Seed Sans TH';
    src: local('LINE Seed Sans TH'), local('LINE-Seed-Sans-TH'), local('line seed sans th'), local('line-seed-sans-th'),url('/fonts/line-seed-sans-th/LINESeedSansTH_W_Rg.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Line Seed Sans TH';
    src: local('LINE Seed Sans TH'), local('LINE-Seed-Sans-TH'), local('line seed sans th'), local('line-seed-sans-th'),url('/fonts/line-seed-sans-th/LINESeedSansTH_W_Bd.woff');
    font-weight: bold;
}
